examples/node-red/timer_flow.json
[
  {
    "id": "b100c9c25a08567d",
    "type": "tab",
    "label": "Presence Detector",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8a7e2c053082136f",
    "type": "mqtt in",
    "z": "b100c9c25a08567d",
    "name": "",
    "topic": "presence/master-bedroom/",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "7a20cadb7f538efb",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 220,
    "wires": [["504d8e915fdac982", "0c321eaa8f89989e"]]
  },
  {
    "id": "504d8e915fdac982",
    "type": "debug",
    "z": "b100c9c25a08567d",
    "name": "Display MQTT Messages",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 430,
    "y": 220,
    "wires": []
  },
  {
    "id": "35e9173d2382cdf5",
    "type": "function",
    "z": "b100c9c25a08567d",
    "name": "Convert to Lamp Command",
    "func": "//TODO: Detect Time\n// Set Lifghts on if during the day\n// After 10pm ignore presence\n\nif (msg.payload.presence){\n    msg.command = \"TurnOnRequest\"\n}else {\n    msg.command = \"TurnOffRequest\"\n}\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 360,
    "wires": [
      [
        "ddc8c11a45c0a684",
        "f4cdc19c332ba707",
        "8de2a4c5fa7685f3",
        "c9b065e7bcc1acdd"
      ]
    ]
  },
  {
    "id": "10f86d63f63b1203",
    "type": "inject",
    "z": "b100c9c25a08567d",
    "name": "No Presence Injection",
    "props": [
      { "p": "payload.presence", "v": "false", "vt": "bool" },
      { "p": "timestamp", "v": "", "vt": "date" },
      { "p": "sensor_id", "v": "10", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 180,
    "y": 280,
    "wires": [["504d8e915fdac982", "0c321eaa8f89989e"]]
  },
  {
    "id": "ddc8c11a45c0a684",
    "type": "link out",
    "z": "b100c9c25a08567d",
    "name": "Lamp Link Out",
    "mode": "link",
    "links": ["2952e127e4df6996"],
    "x": 1125,
    "y": 460,
    "wires": []
  },
  {
    "id": "96f177d5b3b323c2",
    "type": "comment",
    "z": "b100c9c25a08567d",
    "name": "Bedroom Lamp Direct Control",
    "info": "",
    "x": 1280,
    "y": 460,
    "wires": []
  },
  {
    "id": "f4cdc19c332ba707",
    "type": "debug",
    "z": "b100c9c25a08567d",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1160,
    "y": 420,
    "wires": []
  },
  {
    "id": "8de2a4c5fa7685f3",
    "type": "delay",
    "z": "b100c9c25a08567d",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 940,
    "y": 460,
    "wires": [["ddc8c11a45c0a684"]]
  },
  {
    "id": "c9b065e7bcc1acdd",
    "type": "delay",
    "z": "b100c9c25a08567d",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 940,
    "y": 500,
    "wires": [["ddc8c11a45c0a684"]]
  },
  {
    "id": "0c321eaa8f89989e",
    "type": "function",
    "z": "b100c9c25a08567d",
    "name": "Time Limiter",
    "func": "// Get the current time\nvar currentTime = new Date();\nvar startTime = new Date();\nvar endTime = new Date();\n\n// Set the start time (8:00 AM)\nstartTime.setHours(8, 0, 0, 0);\n\n// Set the end time (9:00 PM)\nendTime.setHours(22, 0, 0, 0);\n\n// Check if the current time is within the range\nif (currentTime >= startTime && currentTime <= endTime) {\n    // Pass the message through\n    return msg;\n}",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 360,
    "wires": [["35e9173d2382cdf5", "510e43d50645a2ac", "64cd08126f98d299"]]
  },
  {
    "id": "3e5e6b6864be216d",
    "type": "comment",
    "z": "b100c9c25a08567d",
    "name": "Matter Overhead Light Control",
    "info": "",
    "x": 1220,
    "y": 40,
    "wires": []
  },
  {
    "id": "8f78061b5b62a866",
    "type": "mattermanager",
    "z": "b100c9c25a08567d",
    "name": "Overhead Light",
    "controller": "935222afde0f1331",
    "method": "commissionDevice",
    "code": "1248-445-2811",
    "codeType": "str",
    "deviceid": "",
    "deviceidType": "str",
    "label": "Overhead Light",
    "labelType": "str",
    "x": 320,
    "y": 620,
    "wires": [[]]
  },
  {
    "id": "32cf6c17d291dc82",
    "type": "mattercommand",
    "z": "b100c9c25a08567d",
    "name": "",
    "controller": "935222afde0f1331",
    "device": "3878310905870684751-1",
    "deviceName": "Overhead Light",
    "endpoint": "",
    "cluster": "6",
    "command": "on",
    "data": "{}",
    "dataType": "json",
    "simpleMode": false,
    "x": 1190,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "510e43d50645a2ac",
    "type": "function",
    "z": "b100c9c25a08567d",
    "name": "Convert to Server Rack Fan Command",
    "func": "//TODO: Detect Time\n// Set Lifghts on if during the day\n// After 10pm ignore presence\n\nif (!msg.payload.presence){\n    msg.command = \"TurnOnRequest\"\n}else {\n    msg.command = \"SetPercentageRequest\"\n    msg.payload = 50\n}\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 770,
    "y": 620,
    "wires": [["16201a204d79d877"]]
  },
  {
    "id": "16201a204d79d877",
    "type": "link out",
    "z": "b100c9c25a08567d",
    "name": "link out 1",
    "mode": "link",
    "links": ["a7ddd911dd868a4b"],
    "x": 1125,
    "y": 620,
    "wires": []
  },
  {
    "id": "6dbc156775ab88ce",
    "type": "inject",
    "z": "b100c9c25a08567d",
    "name": "Trigger",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 620,
    "wires": [["8f78061b5b62a866"]]
  },
  {
    "id": "74622584567e76f7",
    "type": "comment",
    "z": "b100c9c25a08567d",
    "name": "Matter Device Provisioning",
    "info": "",
    "x": 150,
    "y": 580,
    "wires": []
  },
  {
    "id": "64cd08126f98d299",
    "type": "switch",
    "z": "b100c9c25a08567d",
    "name": "Matter Controller",
    "property": "payload.presence",
    "propertyType": "msg",
    "rules": [{ "t": "true" }, { "t": "false" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 750,
    "y": 180,
    "wires": [["32cf6c17d291dc82"], ["f5cabd1f8afefe12"]]
  },
  {
    "id": "f5cabd1f8afefe12",
    "type": "mattercommand",
    "z": "b100c9c25a08567d",
    "name": "",
    "controller": "935222afde0f1331",
    "device": "3878310905870684751-1",
    "deviceName": "Overhead Light",
    "endpoint": "",
    "cluster": "6",
    "command": "off",
    "data": "{}",
    "dataType": "json",
    "simpleMode": false,
    "x": 1190,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "6f8238cbd575b45a",
    "type": "comment",
    "z": "b100c9c25a08567d",
    "name": "Server Rack Direct Control",
    "info": "",
    "x": 1270,
    "y": 620,
    "wires": []
  },
  {
    "id": "2108c40155a75644",
    "type": "inject",
    "z": "b100c9c25a08567d",
    "name": "Presence Injection",
    "props": [
      { "p": "payload.presence", "v": "true", "vt": "bool" },
      { "p": "timestamp", "v": "", "vt": "date" },
      { "p": "sensor_id", "v": "10", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 320,
    "wires": [["504d8e915fdac982", "0c321eaa8f89989e"]]
  },
  {
    "id": "7a20cadb7f538efb",
    "type": "mqtt-broker",
    "name": "",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "935222afde0f1331",
    "type": "mattercontroller",
    "networkInterface": "eth0",
    "logLevel": "DEBUG"
  }
]
